h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 10px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.loginPanel {
	text-align: center;
	position: absolute;
	top: 5%;
	left: 42.5%;
}

.logoutPanel {
	text-align: center;
	/*position: absolute;
	top: 40px;
	right: 20px;*/
}

.errorPanel {
	text-align: center;
	position: absolute;
	width: 50%;
	top: 15%;
	right: 25%;
	left: 25%;
}

.errorLabel {
	color: red;
}

.clubPanel {
	left: 2px !important;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.extrablock {
	position: relative !Important;
	left: 1% !Important;
	top: 1% !Important;
	border: inset !Important;
	width: 98% !Important;
	height: 100px !Important;
}

.selectItem {
	width: 100% !Important;
	text-align: left !Important;
}

.item,.itemFocused {
	width: 148px !Important;
	border: 1px groove !Important;
}

.formCellFocused, .pickListCell, .pickListCellDark, .pickListCellSelected, .pickListCellSelectedDark, .listTable
	{
	width: 140px !Important;
	text-align: left !Important;
}

.clubColumn {
	width: 175px !Important;
}

.smallLabel {
	font-size: 9pt !Important;
	font-weight: normal;
	text-align: left;
}

td {
	font-weight: bold;
/*	vertical-align: middle !Important;
	text-align: center !Important;*/
}

.shiftTableCell {
	width: 100% !Important;
	border: 1px solid rgb(241,241,241) !Important;
}

.headerPanel {
	width: 100%;
	min-width: 1100px;
	height: 135px;
	border-bottom: 1px groove black;
}

.dayCell,.buttonRounded,.buttonRoundedOver,.buttonRoundedDown,.pickListCell,.pickListCellSelected,.pickListCellDark,.pickListCellSelectedDark
	{
	font-size: 8pt !Important;
	font-weight: normal !Important;
}

.dayCell {
	width: 114px !Important;
	background-color : white;
    background: linear-gradient(to top, white, #CEC9DC);
}

.scheduleColumn {
	width: 116px !Important;
}

.shiftItem {
	width: 115px !Important;
}

.schedulePanel {
	width: 100% !Important;
	min-width: 1063px !Important;
	overflow-y: visible !Important;
}

.selectItemTextHint {
	width: 78px !Important;
	color: white !Important;
	visibility: hidden;
}

.dateBoxPopup {
	z-index: 900000;
}

.greyLine{
	height: 40px !Important;
	width: 400px !Important;
}

.cellList{
	font-size: 9pt !Important;
	text-align: center !Important;
}

