/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

body {
	height: 100%;
}

table {
	border-collapse: collapse;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.rootPanel {
	padding-right: 5em;
	padding-left: 5em;
}

.globalTopPanel, .logoPanel, .topPanel {
	border: 0;
	height: 100px;
}

.userIcon {
	height: 50px;
	width: auto;
	cursor: pointer;
}

.userNameLabel {
	font-size: large;
	font-weight: 600;
}

.globalTopPanel tr {
	border: none;
}

.topPanel {
	margin-left: 17em;
	padding-left: 20px;
}

.logoPanel, .logoImage, .modulePanel {
	width: 17em;
	float: left;
} 

.logoPanel {
	/* background-color: #44417b; */
	overflow: hidden; 
} 

.modulePanelContainer {
	height: calc(100vh - 140px);
	padding-top: 10px;
	padding-bottom: 10px;
}

.moduleContentPanel {
	height: calc(100vh - 120px);
	color: #44417b;
	margin: 0px 0px 0px 17em;
	/* background-color: maroon; */
}

#moduleContentGrayPanel {
	/* width: 100% !Important; */
	height: 50px !Important;
	min-width: 500px !Important;
	background-color : #44417b;
	padding: 5px 10px; 
	vertical-align: middle;
}

#moduleContentContainer {
	padding: 10px; 
	overflow: auto;
	height: calc(100vh - 210px);
}

.modulePanelContainer {
	border: 0;
	background-color: #44417b;
	vertical-align: top;
	float: left;
}

.modulePanel {
	font-weight:bold;
	vertical-align: top;
	float: none;
}

.modulePanel tr {
	padding: 0;
}

.moduleItemPanel {
	width: 100%;
	cursor: pointer;
	border-top: 3px solid #afafaf; 
	/* border-bottom: 3px solid #afafaf; */ 
	margin: 3px 0;
}

.moduleItemPanel:HOVER {
	background-color: silver;
}

.moduleItemIconPanel, .moduleItemLabelPanel {
	padding: 5px;
}

.moduleItemIconPanel {
	width: 40px;
}

.moduleItemIcon, .moduleItemLabel {
	padding: 5px;
}

.moduleItemIcon {
	width: 20px;
	height: 20px;
	vertical-align: text-top;
}

.moduleItemLabel {
	color: white;
	text-align: left;
	vertical-align: middle;
}

.descriptionPanel {
	border-top: 3px solid #afafaf;
	padding: 5px;
	font-size: larger;
	font-style: normal;
	color: yellow;
	float: none;
}

.errorPanel {
	color:red;
	height: 30px;
	background-color: #44417b;
}

/* display users */
.userTable {
	border: thin;
	border-color: #44417b;
	width: 100%;
}

.userTable tr:HOVER {
	background-color: silver;
}

.userTableHead {
	background-color: silver;
}

.usersViewLogin {
	cursor: pointer;
}

.epf-panel tr {
	/* border-bottom: 2px solid gray;
	border-top: 2px solid gray; */
	padding: 3px;
}
.epf-errLabelPanel {
	min-height: 20px;
	background: silver;
	padding: 5px;
	margin: 0 0 5px 0;
}
.epf-labelPanel, .epf-textBoxPanel {
	padding: 5px 0;
}

.epf-buttonsPanel {
	width: 100%;
	background-color: silver;
	margin: 5px 0 0;
}

.epf-buttonsPanel td {
	padding: 5px;
}

.gwt-Label-error {
	color: gray;
}

.GPBYFDEGE {
}
/* ===================== */
