h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  /* margin: 40px 0px 70px; */
  text-align: center;
}

body {
	font-family : Cambria !important;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.MainPanel {
	border: groove;
	position: relative !Important;
	overflow-y: scroll !Important;
}
.ExternalPanel {
	border: groove;
	overflow-y: scroll;
}
.MainPanel1 {
	position: absolute !Important;
	width: 98% !Important;
	border: groove !Important;
	height: auto !Important;
	left: 1% !Important;
}

.extrablock {
	position: relative !Important;
	left: 1% !Important;
	top: 1% !Important;
	border: inset !Important;
	width: 98% !Important;
	height: 60px !Important;
	padding-bottom:2% !Important;
}

.TableBlock {
	position: relative !Important;
	width: 98% !Important;
	height: auto !Important;
	/*border: groove !Important;*/
	left: 1% !Important;;
	top: 2% !Important;
	padding-bottom:2% !Important;
	margin-top: 1%;
}

.MainTable {
	table-layout:fixed !Important;
	position: relative !Important;
	width: 98% !Important;
	left: 1% !Important;
	top: 2% !Important;
	/*height: auto !Important;
	border: groove !Important;
	border-collapse: collapse !Important;
	overflow-y: scroll;*/
	margin-top: 10px !Important;
}


.headerPanel {
	width: 100%;
	min-width: 1195px;
	height: 95px;
	border-bottom: 1px groove black;
}

.FlexTable-OddRow {
  background-color: #C1FFC1 !Important;
}

.reserveTable {
	position: relative !Important;
	width: 98% !Important;
	left: 1% !Important;
	top: 2% !Important;
	height: auto !Important;
	border-collapse: collapse !Important;
	overflow-y: scroll;
	
}
/*
.MainTable td {
	width: 5% !Important;
	height: 10px !Important;
	overflow: hidden !Important;
	border: groove !Important;
	font-weight: bold !Important;
	font-style: normal !Important;
	vertical-align: middle !Important;
	text-align: center !Important;
}*/

.reserveTable td {
	width: 100%; 
	height: 10px !Important;
	/* overflow: hidden !Important; */
	/* border: hidden !Important; */
	/* font-weight: bold !Important; */
	/* font-style: normal !Important; */
	vertical-align: middle !Important;
	/* text-align: center !Important; */
	border-bottom: 1px solid rgb(241,241,241);
	/* margin-left: -20px; */
}

.reserveTable tr:last-child>td {
	border:0px;
}

.draftCheckBoxPanel {
	width: 32px;
}

.ScheduleBlock {
	position: relative;
	overflow: visible !Important;
	width: 100% !Important;
	height: 100% !Important;
}
.CentralPanel {
	border: groove;
	position: relative !Important;
	overflow: scroll !Important;
}
.NapLogo {
	cursor:pointer !Important;
}
.StackBlock {
	color: White;
}
.gwt-StackPanel {
	color: White;
	border-bottom: Silver;
	text-align: center !Important;
	border: 0px !Important;
}
.gwt-StackPanelItem {
background: #696969  repeat-x 0px -989px !Important;
	padding: 3px;
	border: 0px !Important;
	border-bottom: 1px solid Silver !Important;
	font-size: 1.3em;
	font-weight: 300 !Important;
	cursor: hand;
	background-color: rgb(51,56,68) !Important;
	text-align: center !Important;
	/* font-family: initial !Important; */
}

td.gwt-StackPanelContent{
	border: 0px !Important;
	background-color: rgb(51,56,68) !Important;
	text-align: center !Important;
	font-family: Helvetica, sans-serif !Important;
}
.CentralPanelGraphique {
	background-color: #e5e5e5;
}
/* .KutuzoffPanel {
	overflow-x: scroll !Important;
	overflow-y: scroll !Important;
	background-color: #CEC9DC;
}
 */
 .PozharBox :hover{
	background-color:#696969!Important;
	cursor:pointer;
}
.leftLabels {
	/* color: White; */
	font-variant: normal;
	font-weight: 300;
	/* font-family: @Arial Unicode MS, sans-serif; */
	vertical-align: middle;
	text-align: center;
}
.horizontalPanelForLeft {
	background-color: #AFAFAF;
	color: black !important;
}
.horizontalPanelForLeft :hover {
	color : white;
	background-color:  #44417b;
	cursor: pointer;
}
.myBestUserPanel {
position:absolute !Important;
background-color:white !Important;
border:groove !Important;
overflow: visible !Important;
z-index:100 !Important;
right:15px !Important;
}

.megaKostil {
	overflow: visible !Important;
	height:100px;
	background-color: #CEC9DC;
}
.myBestInnerFlexTable {
	width:100% !Important;
	height:100% !Important;
	border-top: hidden;
	border-bottom: hidden;
	border-left: groove;
	border-right: groove;
}
.myBestFlexTable {
	width:100% !Important;
	height:100% !Important;
	border-collapse: collapse;
}
.myBestManagerImage {
	cursor: pointer !Important;
	width:100px !Important;
}
.myImageAsButton {
	cursor: pointer !Important;
	width:25px !Important;
}
.myImageAsButton-disabled {
	cursor: auto !Important;
	/* width:25px !Important; */
	opacity: .7;
}
/*=======*/
.ClubName {
	font-size: 1.3em;
	font-weight: 300 !Important;
}

.topGreyLine{
	height: 100% !Important;
	width: 100% !Important;
	min-height: 50px !Important;
	min-width: 500px !Important;
	background-color : #44417b;
}

.closeButton{
	float:right !Important;;
	margin-top: -5px !Important;;
	margin-right: -10px !Important;;
	cursor: pointer !Important;
}

.closePanel{
	width: 100% !important;
	background-color: #44417B !important;
}

.dialogBoxTitle{
	color: white;
	text-align: center;
}

.dialogBoxPosition{
	z-index: 1000000 !important;
}

.loadingPanel{
	z-index: 2000000 !important;
	border: none !important;
	background: none;
}

.loadingImage {
	height: 50px;
	width: auto;
}

.helpPanel{
	font-size: 10pt;
	font-weight: normal;
	color: #808080;
	line-height: 0.6;
	padding: 5px;
}
.helpLabel{
	font-size: 8pt;
	font-weight: normal;
	color: #808080;
	line-height: 0.6;
	padding: 0px 3px;
}
