h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.MainPanel {
	border: groove;
	position: relative !Important;
	overflow-y: scroll !Important;
}
.ExternalPanel {
	border: groove;
	overflow-y: scroll;
}
.MainPanel1 {
	position: absolute !Important;
	width: 98% !Important;
	border: groove !Important;
	height: auto !Important;
	left: 1% !Important;
}

.extrablock {
	position: relative !Important;
	left: 1% !Important;
	top: 1% !Important;
	border: inset !Important;
	width: 98% !Important;
	height: 60px !Important;
	padding-bottom:2% !Important;
}

.TableBlock {
	position: relative !Important;
	width: 98% !Important;
	height: auto !Important;
	border: groove !Important;
	left: 1% !Important;;
	top: 2% !Important;
	padding-bottom:2% !Important;
	margin-top: 1%;
}

.MainTable {
	table-layout:fixed !Important;
	position: relative !Important;
	width: 98% !Important;
	left: 1% !Important;
	top: 2% !Important;
	height: auto !Important;
	border: groove !Important;
	border-collapse: collapse !Important;
	overflow-y: scroll;
	margin-top: 10px !Important;
}


.headerPanel {
	width: 100%;
	min-width: 1195px;
	height: 95px;
	border-bottom: 1px groove black;
}

.FlexTable-OddRow {
  background-color: #C1FFC1 !Important;
}

.reserveTable {
	position: relative !Important;
	width: 98% !Important;
	left: 1% !Important;
	top: 2% !Important;
	height: auto !Important;
	border: groove !Important;
	border-collapse: collapse !Important;
	overflow-y: scroll;
	
}

.MainTable td {
	width: 5% !Important;
	height: 10px !Important;
	overflow: hidden !Important;
	border: groove !Important;
	font-weight: bold !Important;
	font-style: normal !Important;
	vertical-align: middle !Important;
	text-align: center !Important;
}

.reserveTable td {
	width: 5% !Important;
	height: 10px !Important;
	overflow: hidden !Important;
	border: groove !Important;
	font-weight: bold !Important;
	font-style: normal !Important;
	vertical-align: middle !Important;
	text-align: center !Important;
}
.ScheduleBlock {
	position: relative;
	overflow: visible !Important;
	width: 100%;
	height: 100%;
}
.CentralPanel {
	border: groove;
	position: relative !Important;
	overflow: scroll !Important;
}
.NapLogo {
}
.StackBlock {
	color: White;
}
.gwt-StackPanel {
	color: White;
	border-bottom: Silver;
	text-align: center !Important;
	border: 0px !Important;
}
.gwt-StackPanelItem {
background: #696969  repeat-x 0px -989px !Important;
	padding: 3px;
	border: 0px !Important;
	border-bottom: 2px solid Silver !Important;
	font-size: 1.3em;
	font-weight: 300 !Important;
	cursor: hand;
	background-color: rgb(51,56,68) !Important;
	text-align: center !Important;
	font-family: initial !Important;
}

td.gwt-StackPanelContent{
	border: 0px !Important;
	background-color: rgb(51,56,68) !Important;
	text-align: center !Important;
	font-family: Helvetica, sans-serif !Important;
}
.CentralPanelGraphique {
	background-color: #e5e5e5;
}
.KutuzoffPanel {
	background-color: White !Important;
	overflow-y: scroll !Important;
}
.PozharBox :hover{
	background-color:#696969!Important;
	cursor:pointer;
}