/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.mainTable{
	border-collapse:collapse;
	text-align:center;
	margin-bottom: 10px;
	width:100% !Important;
}

.mainHeader{
	font-weight:bold;
	font-size:1.75em;
	border-bottom:0px;
}

.secondHeader{
	font-size:1.5em;
	font-weight:bold;
	border-bottom: 2px solid black;
}

.import{
	border-left:0px;
	border-right:0px;
}

.buttonImport{
	background-image:url('/img/import.png');
	background-color: inherit;
	border-width: 0px;
	cursor:pointer;
}

.buttonDelete{
	background-image:url('/img/remove.png');
	background-color: inherit;
	border-width: 0px;
	cursor:pointer;
}

.beforeImport{
	border-right:0px;
}

.afterImport{
	border-left:0px;
}

.checkbox input[type="checkbox"]{
	width:40px;
	height:40px;
}

.rightDown{
	position:absolute;
	down:0px;
	right:0px;
}

.rightUp{
	position:absolute;
	top:0px;
	right:0px;
}

.empCategoryButton{
	border-width: 0px;
	cursor:pointer;
}

.empCategoryTable{
	margin:5px;
	min-width: 100px;
}
.gwt-TabPanel {
width: 100%;
}
.gwt-TabBar .gwt-TabBarItem-selected {
cursor: default;
background: white;
color: #333;
font-weight: bold;
font-size: 15pt !Important;
}

