/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 10px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.loginPanel {
	text-align: center;
	position: absolute;
	top: 5%;
	left: 42.5%;
}

.logoutPanel {
	text-align: center;
	position: absolute;
	top: 40px;
	right: 20px;
}

.errorPanel {
	text-align: center;
	position: absolute;
	width: 50%;
	top: 15%;
	right: 25%;
	left: 25%;
}

.errorLabel {
	color: red;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.MainPanel {
	position: absolute !Important;
	width: 98% !Important;
	border: groove !Important;
	height: 98% !Important;
	left: 1% !Important;
}

.extrablock {
	position: relative !Important;
	left: 1% !Important;
	top: 1% !Important;
	border: inset !Important;
	width: 98% !Important;
	height: 10% !Important;
}

.gwt-InlineLabel {
	font-variant: normal;
	font-weight: bold;
	font-size: 18px;
	font-style: italic;
	vertical-align: middle;
	text-align: center !Important;
	position: absolute !Important;
	left: 40% !Important;
	top: 20% !Important;
}

.TableBlock {
	position: relative !Important;
	width: 98% !Important;
	height: 78% !Important;
	border: groove !Important;
	left: 1% !Important;;
	top: 2% !Important;
}

.MainTable {
	position: relative !Important;
	width: 98% !Important;
	left: 1% !Important;
	top: 2% !Important;
	height: auto !Important;
	border: groove !Important;
	border-collapse: collapse !Important;
	overflow-y: scroll;
}

td {
	width: 5% !Important;
	height: 10px !Important;
	overflow: hidden !Important;
	border: groove !Important;
	font-weight: bold !Important;
	font-style: normal !Important;
	vertical-align: middle !Important;
	text-align: center !Important;
}

.headerPanel {
	width: 100%;
	min-width: 1195px;
	height: 95px;
	border-bottom: 1px groove black;
}

.FlexTable-OddRow {
  background-color: #C1FFC1 !Important;
}