/build/

/.gwt/
/.settings/
/gwt-unitCache/
/test-classes/
/war/index/
/war/createSchedule/
/war/scheduleDraft/
/war/startSetting/
/war/scheduleManager/
/war/login/
/war/error/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/