/build/

/.gwt/
/.settings/
/gwt-unitCache/
/test-classes/
/war/index/
/war/createSchedule/
/war/sheduledraft/
/war/startsetting/
/war/login/
/war/error/
/war/WEB-INF/classes/
/war/WEB-INF/deploy/