<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>FitnessUA</display-name>

	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>indexServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.IndexServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>indexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
		<url-pattern>/index/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createScheduleServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.CreateSchedueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>createScheduleServlet</servlet-name>
		<url-pattern>/createSchedule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/login/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.LogoutServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/logout/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>startSettingServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.StartSettingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>startSettingServlet</servlet-name>
		<url-pattern>/startsetting/start_setting</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>startSettingServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.StartSettingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>startSettingServlet</servlet-name>
		<url-pattern>/startsetting/start_setting</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>ua.nure.ostpc.malibu.shedule.filter.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.nure.ostpc.malibu.shedule.filter.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>securityXML</param-name>
		<param-value>/security.xml</param-value>
	</context-param>

	<listener>
		<listener-class>ua.nure.ostpc.malibu.shedule.listener.ContextListener</listener-class>
	</listener>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/server_error_page.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/pages/access_error_page.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/page_not_found.html</location>
	</error-page>

</web-app>
