<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<display-name>FitnessUA</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.GreetingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/greet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createScheduleServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.CreateSchedueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>createScheduleServlet</servlet-name>
		<url-pattern>/createSchedule</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>ua.nure.ostpc.malibu.shedule.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login/login</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>ua.nure.ostpc.malibu.shedule.filter.EncodingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>ua.nure.ostpc.malibu.shedule.listener.ContextListener</listener-class>
	</listener>

</web-app>
